@{
    ViewData["title"] = "Analysis Home";
}

@section Head{
    <script>
		window.onload = function () {

			var severityCountsChart = new CanvasJS.Chart("severityCountsContainer", {
			animationEnabled: true,
			theme: "light 1", // "light1", "dark1", "dark2"
			exportEnabled: true,
			title: {
				text: "Crashes by Severity"
			},
			data: [{
				type: "column",
				dataPoints:  @Html.Raw(ViewBag.SeverityCounts),
			}]
			});
			severityCountsChart.render();


			var countyCountChart = new CanvasJS.Chart("countyCountsContainer", {
				animationEnabled: true,
				theme: "light2", // "light1", "dark1", "dark2"
				exportEnabled: true,
				title: {
					text: "Crashes by County"
				},
				data: [{
					type: "column",
					dataPoints:  @Html.Raw(ViewBag.CountyCounts),
			}]
			});
			countyCountChart.render();

			var fatalCountyCountChart = new CanvasJS.Chart("fatalCountyCountsContainer", {
				animationEnabled: true,
				theme: "dark2", // "light1", "dark1", "dark2"
				exportEnabled: true,
				title: {
					text: "Fatal Crashes by County"
				},
				data: [{
					type: "column",
					dataPoints:  @Html.Raw(ViewBag.FatalCountyCounts),
			}]
			});
			fatalCountyCountChart.render();

			var cityCountChart = new CanvasJS.Chart("cityCountsContainer", {
				animationEnabled: true,
				theme: "light2", // "light1", "dark1", "dark2"
				exportEnabled: true,
				title: {
					text: "Crashes by City"
				},
				data: [{
					type: "bar",
					dataPoints:  @Html.Raw(ViewBag.CityCounts),
			}]
			});
			cityCountChart.render();

			var fatalCityCountChart = new CanvasJS.Chart("fatalCityCountsContainer", {
				animationEnabled: true,
				theme: "dark2", // "light1", "dark1", "dark2"
				exportEnabled: true,
				title: {
					text: "Fatal Crashes by City"
				},
				data: [{
					type: "bar",
					dataPoints:  @Html.Raw(ViewBag.FatalCityCounts),
			}]
			});
			fatalCityCountChart.render();

			var FeatureCountsChart = new CanvasJS.Chart("featureCountsContainer", {
				animationEnabled: true,
				theme: "light1", // "light1", "dark1", "dark2"
				exportEnabled: true,
				title: {
					text: "Common Crash Features"
				},
				data: [{
					type: "column",
					dataPoints:  @Html.Raw(ViewBag.FeatureCounts),
			}]
			});
			FeatureCountsChart.render();

			var FatalFeatureCountsChart = new CanvasJS.Chart("fatalFeatureCountsContainer", {
				animationEnabled: true,
				theme: "dark1", // "light1", "dark1", "dark2"
				exportEnabled: true,
				title: {
					text: "Common Fatal Crash Features"
				},
				data: [{
					type: "column",
					dataPoints:  @Html.Raw(ViewBag.FatalFeatureCounts),
			}]
			});
			FatalFeatureCountsChart.render();

			var MonthCountChart = new CanvasJS.Chart("monthCountContainer", {
				animationEnabled: true,
				theme: "light1", // "light1", "dark1", "dark2"
				exportEnabled: true,
				title: {
					text: "Crashes by Month"
				},
				data: [{
					type: "spline",
					dataPoints:  @Html.Raw(ViewBag.MonthCount),
				}]
			});
			MonthCountChart.render();

			var FatalMonthCountChart = new CanvasJS.Chart("fatalMonthCountContainer", {
				animationEnabled: true,
				theme: "dark1", // "light1", "dark1", "dark2"
				exportEnabled: true,
				title: {
					text: "Fatal Crashes by Month"
				},
				data: [{
					type: "spline",
					dataPoints:  @Html.Raw(ViewBag.FatalMonthCount),
			}]
			});
            FatalMonthCountChart.render();
		}
    </script>
}

<div class="container text-center">
    <br />
    <h1>Crash Analysis</h1>
    <p>An overview of how, where, and why crashes are occurring and resulting in fatalities in Utah.</p>
    <br />

    <div class="container-fluid">
        <div class="row" style="height: 350px;">
            <div class="col col-2"></div>
            <div id="severityCountsContainer" class="col col-8"></div>
            <div class="col col-2"></div>
        </div>
        <br />
        <div class="row" style="height: 50px;">
            <div class="col col-2"></div>
            <div class="col col-8">
                <p>The vast majority of accidents involve no injuries. However, these  analyses can provide insights into reducing both overall crashes and fatalities.</p>
            </div>
            <div class="col col-2"></div>
        </div>
    </div>
    <br /><br />
    <div class="container-fluid">
        <div class="row" style="height: 350px;">
            <div id="featureCountsContainer" class="col col-5"></div>
            <div class="col col-2"></div>
            <div id="fatalFeatureCountsContainer" class="col col-5"></div>
        </div>
        <br />
        <div class="row" style="height: 50px;">
            <div class="col col-2"></div>
            <div class="col col-8">
                <p>Here, we can see that while intersections are the most common factor in overall crashes, they play a much smaller role in fatalities, where single vehicle accidents are most common.</p>
            </div>
            <div class="col col-2"></div>
        </div>

    </div>
    <br />
    <br />
    <div class="container-fluid">
        <div class="row" style="height: 350px;">
            <div id="monthCountContainer" class="col col-5"></div>
            <div class="col col-2"></div>
            <div id="fatalMonthCountContainer" class="col col-5"></div>
        </div>
        <br />
        <div class="row" style="height: 50px;">
            <div class="col col-2"></div>
            <div class="col col-8">
                <p>When comparing trends across the year, there is another distinction made between crashes and related fatalities. General crashes increase in the winter months, at the same time that overall fatalities decrease.</p>
            </div>
            <div class="col col-2"></div>
        </div>
    </div>
    <br />
    <br />
    <div class="container-fluid">
        <div class="row" style="height: 350px;">
            <div id="countyCountsContainer" class="col col-5"></div>
            <div class="col col-2"></div>
            <div id="fatalCountyCountsContainer" class="col col-5"></div>
        </div>
    </div>
    <br />
    <div class="container-fluid">
        <div class="row" style="height: 500px;">
            <div id="cityCountsContainer" class="col col-5"></div>
            <div class="col col-2"></div>
            <div id="fatalCityCountsContainer" class="col col-5"></div>
        </div>
        <br />
        <div class="row" style="height: 50px;">
            <div class="col col-2"></div>
            <div class="col col-8">
                <p>Lastly, while it seems that most crashes occur in Salt Lake City when comparing counties, the cities charts indicate that more fatalities are actually outside of city territory. This category is spread across all counties. The "Fatal Crashes by City" chart provides further insight into the nature of most fatal crashes in Utah.</p>
            </div>
            <div class="col col-2"></div>
        </div>
        <br /><br /><br />
        <div class="row" style="height: 50px;">
            <div class="col col-2"></div>
            <div class="col col-8">
                <p>UDOT experts can use this data to inform decisions about infrastructure investments. Here, it seems that while most car crashes in Utah occur in city intersections during winter, the most fatalities are single-vehicle crashes in remote highways during the summer.</p>
                <p>Our inference is that Utah's winter conditions of snow and ice cause minor car accidents, while high-speed driving in remote locations around Utah's National Parks result in more fatal car accidents.</p>
            </div>
            <div class="col col-2"></div>
        </div>
        <br /><br /><br /><br />
    </div>
    <br /><br />

    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>

</div>