@{
    ViewData["title"] = "Analysis Home";
}

@section Head{
    <script>
		window.onload = function () {

			var severityCountsChart = new CanvasJS.Chart("severityCountsContainer", {
			animationEnabled: true,
			theme: "light 1", // "light1", "dark1", "dark2"
			exportEnabled: true,
			title: {
				text: "Crashes by Severity"
			},
			data: [{
				type: "column",
				dataPoints:  @Html.Raw(ViewBag.SeverityCounts),
			}]
			});
			severityCountsChart.render();


			var countyCountChart = new CanvasJS.Chart("countyCountsContainer", {
				animationEnabled: true,
				theme: "light2", // "light1", "dark1", "dark2"
				exportEnabled: true,
				title: {
					text: "Crashes by County"
				},
				data: [{
					type: "column",
					dataPoints:  @Html.Raw(ViewBag.CountyCounts),
			}]
			});
			countyCountChart.render();

			var fatalCountyCountChart = new CanvasJS.Chart("fatalCountyCountsContainer", {
				animationEnabled: true,
				theme: "dark2", // "light1", "dark1", "dark2"
				exportEnabled: true,
				title: {
					text: "Fatal Crashes by County"
				},
				data: [{
					type: "column",
					dataPoints:  @Html.Raw(ViewBag.FatalCountyCounts),
			}]
			});
			fatalCountyCountChart.render();

			var cityCountChart = new CanvasJS.Chart("cityCountsContainer", {
				animationEnabled: true,
				theme: "light2", // "light1", "dark1", "dark2"
				exportEnabled: true,
				title: {
					text: "Crashes by City"
				},
				data: [{
					type: "bar",
					dataPoints:  @Html.Raw(ViewBag.CityCounts),
			}]
			});
			cityCountChart.render();

			var fatalCityCountChart = new CanvasJS.Chart("fatalCityCountsContainer", {
				animationEnabled: true,
				theme: "dark2", // "light1", "dark1", "dark2"
				exportEnabled: true,
				title: {
					text: "Fatal Crashes by City"
				},
				data: [{
					type: "bar",
					dataPoints:  @Html.Raw(ViewBag.FatalCityCounts),
			}]
			});
			fatalCityCountChart.render();

			var FeatureCountsChart = new CanvasJS.Chart("featureCountsContainer", {
				animationEnabled: true,
				theme: "light1", // "light1", "dark1", "dark2"
				exportEnabled: true,
				title: {
					text: "Common Crash Features"
				},
				data: [{
					type: "column",
					dataPoints:  @Html.Raw(ViewBag.FeatureCounts),
			}]
			});
			FeatureCountsChart.render();

			var FatalFeatureCountsChart = new CanvasJS.Chart("fatalFeatureCountsContainer", {
				animationEnabled: true,
				theme: "dark1", // "light1", "dark1", "dark2"
				exportEnabled: true,
				title: {
					text: "Common Fatal Crash Features"
				},
				data: [{
					type: "column",
					dataPoints:  @Html.Raw(ViewBag.FatalFeatureCounts),
			}]
			});
            FatalFeatureCountsChart.render();
		}
    </script>
}

<div class="container text-center">

    <h2>Crash Analysis</h2>
    <p>Use these charts to get an overview of how, where, and why crashes are occurring and resulting in fatalities in Utah.</p>

    <div class="container-fluid">
        <div class="row" style="height: 350px;">
            <div class="col col-2"></div>
            <div id="severityCountsContainer" class="col col-8"></div>
            <div class="col col-2"></div>
        </div>
    </div>
    <br />
    <div class="container-fluid">
        <div class="row" style="height: 350px;">
            <div id="countyCountsContainer" class="col col-5"></div>
            <div class="col col-2"></div>
            <div id="fatalCountyCountsContainer" class="col col-5"></div>
        </div>
    </div>
    <br />
    <div class="container-fluid">
        <div class="row" style="height: 500px;">
            <div id="cityCountsContainer" class="col col-5"></div>
			<div class="col col-2"></div>
            <div id="fatalCityCountsContainer" class="col col-5"></div>
        </div>
    </div>
    <br />
    <div class="container-fluid">
        <div class="row" style="height: 350px;">
            <div id="featureCountsContainer" class="col col-5"></div>
            <div class="col col-2"></div>
            <div id="fatalFeatureCountsContainer" class="col col-5"></div>
        </div>
    </div>

    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>

</div>