@{
    ViewData["Title"] = "Crashes";
}

@model CrashesViewModel

<div class="container">
    <!-- Header -->
    <div class="row m-1 p-1 text-center">
        <div class="m-2">
            <h1 class="fw-bolder">Crash Database</h1>
            <p class="lead fw-normal text-muted mb-0">Below is a table with crash data from 2016-2019</p><br />
        </div>

        <!-- Search bar -->
        <div>
            @using (Html.BeginForm())
            {
                <p>
                    Search by ID, City, County, or Road: @Html.TextBox("searchString")
                    <input type="submit" value="Search" class="btn btn-sm btn-search btn-primary" />
                </p>
            }
        </div>
    </div>
    
    <div class="row m-1 p-1">
        <!-- Side Filter -->
        <div class="col-2 text-center">
            <p>Filter by crash severity:</p>
            <vc:severities></vc:severities>
        </div>

        <!-- Table -->
        <div class="col-10">
            <table class="table table-sm table-bordered table-striped sb">
                <thead>
                    <tr>
                        <th class="col-1">ID</th>
                        <th class="col-3">Date and Time</th>
                        <th class="col-1">Route</th>
                        <th class="col-3">Road</th>
                        <th class="col-1">City</th>
                        <th class="col-1">County</th>
                        <th class="col-2">Severity</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Crash c in Model.Crashes)
                    {
                        <tr>
                            <td><a asp-controller="Home" asp-action="CrashDetails" asp-route-c="@c.CRASH_PK">@c.CRASH_ID</a></td>
                            <td>@c.CRASH_DATETIME</td>
                            <td>@c.ROUTE</td>
                            <td>@c.MAIN_ROAD_NAME</td>
                            @if (c.CITY != null)
                            {
                                <td>@c.CITY.CITY_NAME</td>
                            }
                            else
                            {
                                <td></td>
                            }
                            @if (c.COUNTY != null)
                            {
                                <td>@c.COUNTY.COUNTY_NAME</td>
                            }
                            else
                            {
                                <td></td>
                            }
                            @if (c.SEVERITY != null)
                            {

                                <td>@c.SEVERITY.SEVERITY_DESCRIPTION</td>
                            }
                            else
                            {
                                <td></td>
                            }
                        </tr>
                    }
                </tbody>
            </table>

            <!-- Pagination -->
            <div class="text-center">
                <a class="btn btn-primary text-light" asp-controller="Home" asp-action="CrashData"
                   asp-route-severity="@ViewBag.SelectedSeverity" asp-route-pageNum="1"
                   asp-route-searchString="@ViewBag.SearchString">First</a>

                @if (ViewBag.PageNum <= 1)
                {
                    <a disabled class="btn btn-secondary text-light">First</a>
                }
                else
                {
                    <a class="btn btn-primary text-light" asp-controller="Home" asp-action="CrashData"
                       asp-route-severity="@ViewBag.SelectedSeverity" asp-route-pageNum="1"
                       asp-route-searchString="@ViewBag.SearchString">First</a>
                }
                @if (ViewBag.PageNum <= 1)
                {
                    <a disabled class="btn btn-secondary text-light">Back</a>
                }
                else
                {
                    <a class="btn btn-primary text-light" asp-controller="Home" asp-action="CrashData"
                       asp-route-severity="@ViewBag.SelectedSeverity" asp-route-pageNum="@(ViewBag.PageNum - 1)"
                       asp-route-searchString="@ViewBag.SearchString">Back</a>
                }
                @if (ViewBag.PageNum >= ViewBag.TotalPages)
                {
                    <a disabled class="btn btn-secondary text-light">Next</a>
                }
                else
                {
                    <a class="btn btn-primary text-light" asp-controller="Home" asp-action="CrashData"
                       asp-route-severity="@ViewBag.SelectedSeverity" asp-route-pageNum="@(ViewBag.PageNum + 1)"
                       asp-route-searchString="@ViewBag.SearchString">Next</a>
                }
                @if (ViewBag.PageNum >= ViewBag.TotalPages)
                {
                    <a disabled class="btn btn-secondary text-light">Last</a>
                }
                else
                {
                    <a class="btn btn-primary text-light" asp-controller="Home" asp-action="CrashData"
                       asp-route-severity="@ViewBag.SelectedSeverity" asp-route-pageNum="@ViewBag.TotalPages"
                       asp-route-searchString="@ViewBag.SearchString">Last</a>
                    
                }
                <p>@ViewBag.PageNum of @ViewBag.TotalPages pages</p>
            </div>
        </div>
    </div>
</div>